body {
    background-color: #1f2937;
    margin: 56px 35px;
    font-family: Karla;
    user-select: none;
    padding: 0;
}

h1 {
    color: #ECFDF5;

}

#h1-span {
    color: #4ADF86;
}

p {
    color: #D5D4D8;
}

button {
    color: #FFFFFF;
    background-color: #10B981;
    width: 190px;
    height: 42px;
    border: none;
    border-radius: 5px;
    margin: 50px 0 32px 0;
}

button:hover {
    background-color: #ECFDF5;
    color: #10B981;
}

hr {
    border-color: #273549;
    
}


.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    margin-top: 32px;
}


.password-div {
    background-color: #273549;
    text-align: center;
    color: #55F991;
    width: 31vw;
    height: 2vw;
    padding: 10px 20px;
    margin: 0 10px 0 0;
}

.small {
    font-size: x-small;
}

.clipboard-img {
    width: 20px;
    height: 20px;
}

#p-1 {
    font-family: Karla, sans-serif;
    color: #55F991;
    font-weight: bold;
    font-size: 16px;
}