body {
    font-family: 'Karla', sans-serif;
    background-color: #1F2937;
    max-width: 550px;
    margin-left: 52px;
}

/*typography*/

h1 {
    color: #EFEFEF;
    font-weight: 800;
    font-size: 40px;
    margin-top: 115px;
    margin-bottom: 0;
}

.green-text {
    color: #4ADF86
}

p {
    color:  #D5D4D8;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}

button {
    background-color: #10B981;
    color: #EFEFEF;
    width: 191px;
    font-weight:  500;
    font-size: 16px;
    height: 42px;
    border: none;
    border-radius: 5px;
    margin-top: 51px;
}

hr {
    width: 446px;
    border-color: #273549;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 0;
}

.container {
    display: flex;
    padding-bottom: 100px;
}

.password-div {
    background-color: #273549;
    width: 211px;
    height: 39px;
}


.password1 {
    margin-right: 24px;
}

.password-p {
    font-size: 16px;
    color: #10B981;
    font-weight: 500;
    text-align: center;
}



